/* Stile generale */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #fff, #f0f0f0);
    text-align: center;
    padding: 20px;
}

/* Stile per il testo normale */
#h1-text-normal {
    color: #333; /* Colore normale */
    font-weight: 700; /* Mantieni il peso */
}

/* Stile per il testo evidenziato */
#h1-text-span {
    background: linear-gradient(to right, #e11d48, #fef9c3); /* Gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #666;
    margin: 10px 0;
}

iframe {
    border: 1px solid #EEE;
    background: white;
    width: 100%;
    max-width: 480px;
    height: auto;
    aspect-ratio: 3 / 2;
    margin: 30px 0;
}

.archive-link {
    font-size: 2.1rem;
    color: #666;
    text-decoration: underline;
    font-weight: 400;
    transition: text-decoration 0.3s ease;
}

.archive-link:hover {
    text-decoration: none;
}

/* Stile specifico per la pagina 404 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container h1 span  {
    background: linear-gradient(to right, #e11d48, #fef9c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container h2 {
    font-size: 1.8rem;
    color: #666;
    margin: 20px 0;
}

.container p {
    font-size: 1.2rem;
    color: #444;
}

.container a.home-link {
    color: #e11d48;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.container a.home-link:hover {
    color: #fef9c3;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .archive-link {
        font-size: 1.8rem;
    }
    .container h1 {
        font-size: 3rem;
    }
    .container h2 {
        font-size: 1.5rem;
    }
    .container a.home-link {
        font-size: 1.7rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    .archive-link {
        font-size: 1.5rem;
    }
    .container h1 {
        font-size: 2.5rem;
    }
    .container h2 {
        font-size: 1.2rem;
    }
    .container a.home-link {
        font-size: 1.5rem;
    }
}